*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#wrapper{
    height: 100vh;
    overflow-x: hidden;
    
}

.container{
    width: 900px;
    padding: 20px;
    margin: 0 auto;
    
}

.header{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}

#github_link{
    justify-self: start;
    text-decoration: none;
    color: grey;
    font-weight: 400;
}

#img{
    justify-self: end;
}

.main{
    display: grid;
    grid-template-columns: 1fr 250px;
    margin-top: 30px;
}

.main_section1{
    text-align: justify;
    width: 90%;
}

.Post_main_heading{
    font-size: xx-large;
    margin-bottom: 4px;
}

.date{
    color: gray;
}

.Post_main_heading2{
    font-size: xx-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

.Post_main_heading3{
    font-size: x-large;
    margin-bottom: 20px;
    margin-top: 20px;
}

.sec2_4{
    margin-top: 30px;
}

.btn{
    font-size: 15px;
    font-weight: lighter;
    padding: 8px;
    border-radius: 18px;
    background-color: white;
    color: gray;
    border: 0.7px solid gray;
    margin-right: 5px;
    margin-bottom: 30px;
}

.btn:hover{
    border-color: blue;
    color: blue;
}


.sec2_1{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    padding: 15px;  
}

.sec2_2{
    margin: 30px 0px 0px 10px;
    
}

.sec2_2_2{
    display: grid;
    grid-template-rows: repeat(12,1fr);
    
    
}

.sec2_2_3{
    margin-top: 15%;
    margin-bottom: 10%;
    display: grid;
    grid-template-rows: repeat(3,1fr);

}


